# ----------------------------
# 1. 파이썬 자동 생성 파일 (필수)
# ----------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------
# 2. 개발자별 환경(공유하면 충돌)
# ----------------------------
.idea/

# ----------------------------
# 3. 가상환경 (환경별 달라서 공유 X)
# ----------------------------
venv/
jina/
.jina/
# env/
.venv/

# ----------------------------
# 4. 결과 파일 / 테스트 파일(공유 불필요) 
# ----------------------------
output/       # 영상/텍스트 등의 실행 결과물
output/         
# 영상/텍스트 등의 실행 결과물
# src/main_dev.py
storage/

# ----------------------------
# 5. 환경변수 & KEY 값 (절대 공유 X)
# ----------------------------
.env
# *.env
# input/api_key.txt

# ----------------------------
# 6. OS(컴퓨터)가 만드는 쓰레기파일
# ----------------------------
.DS_Store        
# Mac에서 자동 생성
Thumbs.db        
# Windows에서 자동 생성


# ----------------------------
# 7. 백업, 테스트용 임시 파일
# ----------------------------
# [back_up]*
# [Tester]*
/[TEST]_main_dev.py
/src/analyze/[back_up]normalizer_text.py
src\analyze\[TEST]normalizerLLM.py
# ----------------------------
# 8. Next.js가 자동으로 생성하는 빌드/캐시 폴더
# ----------------------------
.next/
node_modules/
web/node_modules/
