fastapi
uvicorn[standard]
python-dotenv
 
openai>=1.0.0
numpy
pydantic
 
pymupdf
pdf2image
pdfplumber
 
python-pptx
Pillow
opencv-python
easyocr
pytesseract
docx2pdf
matplotlib
olefile
python-multipart
